@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.filter-icon {
    @include m.flex($ai: center, $gap: f.em(8));

    border: none;

    background-color: transparent;
    color: $color-black;

    font-size: f.em(16);
    font-variation-settings: "FILL" 0;

    cursor: pointer;
    transition: $transition;

    &__small {
        font-size: f.em(14);
        font-weight: 400;
    }

    &__text {
        font-size: f.em(18);
        font-weight: 700;
    }

    &__symbol {
        @include m.flex-child($as: center);

        font-family: $font-symbols;
        font-size: f.em(21);
    }

    &:hover {
        color: $color-orange-100;
        font-variation-settings: "FILL" 1;
    }
}
