@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.dropdown {
    @include m.position(relative);
    @include m.flex($ai: center, $gap: f.em(8));

    // Button
    &__button {
        @include m.flex($ai: center, $gap: f.em(8));

        border: none;

        background-color: transparent;
        color: $color-gray-500;

        font-size: f.em(16);
        font-variation-settings: "FILL" 0;

        cursor: pointer;
        transition: $transition;

        &__symbol {
            @include m.position(relative, $b: f.em(1));
            @include m.flex-child($as: center);

            font-size: f.em(25);
        }

        // Hover
        &:hover {
            color: $color-orange-100;
        }
    }

    // Symbol
    .symbol {
        font-family: $font-symbols;
    }
}
