@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;
@use "keyframes" as *;

// Content
.post-content {
    padding: f.em(20) f.em(28);
    font-size: f.em(19);

    // Image
    &__image {
        margin-top: f.em(10);
    }

    // Bold on strong and links
    strong,
    b,
    a {
        font-weight: 700;
    }

    // Links
    a {
        color: $color-orange-100;

        text-decoration: none;

        transition: $transition;

        &:hover {
            color: darken($color-orange-100, 8%);
        }
    }
}
