@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.posts {
    @include m.scrollbar($thumb: $color-gray-400, $track: transparent, $size: f.em(5));

    padding: 0 f.em(12) f.em(24) f.em(24);
    overflow: hidden auto;

    height: calc(100vh - f.em(141));

    @include m.media(laptop) {
        height: auto;
        padding: 0 f.em(16);

        overflow: visible;
    }

    &__loading {
        width: 100%;
        object-fit: scale-down;
    }
}
