@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;
@use "keyframes" as *;

.button {
    @include m.flex($ai: center, $gap: f.em(5));

    border: none;

    color: $color-black;
    background-color: transparent;

    font-size: f.em(16);
    font-weight: 400;
    font-variation-settings: "FILL" 0;

    cursor: pointer;
    transition: $transition;

    .button {
        &__text {
            min-width: f.em(48);

            font-size: f.em(18);
            text-align: left;

            transition: inherit;

            span {
                opacity: 0;

                color: transparent;

                transition: inherit;
            }
        }

        &__symbol {
            transition: inherit;
        }
    }

    &:last-of-type {
        &:hover,
        &.active {
            color: $color-green-100;
        }
    }

    &:hover,
    &.active {
        color: $color-red-100;
    }

    &.active {
        .button {
            &__text {
                span {
                    display: inline-block;
                    opacity: 1;

                    color: inherit;
                }
            }

            &__symbol {
                font-variation-settings: "FILL" 1;

                animation: bounce 0.88s ease 1;
                animation-delay: 0.15s;
            }
        }
    }

    // Symbols
    .symbols {
        font-family: $font-symbols;
        font-size: f.em(21);
    }
}
