@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.form {
    @include m.flex($fd: column, $gap: f.em(22));

    &__label {
        @include m.flex($ai: center, $gap: f.em(8));

        cursor: pointer;
        transition: $transition;

        // Radio
        &__radio {
            @include m.position(relative, $b: f.em(2.5));

            width: f.em(21);
            height: f.em(21);
            border: solid f.em(2) $color-black;
            border-radius: f.em(21);

            cursor: pointer;
            appearance: none;
            transition: $transition;

            &:checked {
                background-color: $color-orange-100;
                border-color: $color-orange-100;
                box-shadow: inset 0 0 0 f.em(4) $color-white;

                + .form__label__text {
                    color: $color-orange-100;
                }
            }
        }

        // Text
        &__text {
            font-size: f.em(15);
        }

        // Hover
        &:hover {
            color: $color-orange-100;
        }
    }

    // Button
    &__button {
        height: f.em(42);
        border: solid f.em(1) $color-black;

        background-color: $color-white;
        color: $color-black;

        font-size: f.em(16);
        font-weight: 700;

        transition: $transition;
        cursor: pointer;

        // Text
        &__text {
            font-size: f.em(13);
        }

        // Disabled
        &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }

        // Hover
        &:hover:not(:disabled) {
            color: $color-orange-100;
            border-color: $color-orange-100;
        }
    }
}
