@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.dropdown {
    width: max-content;
    border: solid f.em(1) $color-gray-300;
    box-shadow: $box-shadow;

    background-color: $color-white;

    z-index: 0;

    // Header
    &__header {
        @include m.flex($ai: center, $gap: f.em(8));
        padding: f.em(16) f.em(18);

        color: $color-black;
        background-color: $color-gray-200;

        &__button {
            padding: 0;
            border: none;

            background-color: transparent;
            color: $color-black;

            cursor: pointer;
            transition: $transition;

            &:hover {
                color: $color-orange-100;
            }
        }
    }

    // Dropdown list
    &__list {
        padding: f.em(18);
        @include m.flex($fd: column, $gap: f.em(16));
    }

    // Symbol
    .symbol {
        font-family: $font-symbols;
        font-size: f.em(21);
    }

    // Position
    &--top {
        @include m.position(absolute, $b: 100%, $r: 50%);
        transform: translate(50%, 0);
        &-left {
            @include m.position(absolute, $b: 100%, $r: 100%);
            transform: translate(25%, 0);
        }
        &-right {
            @include m.position(absolute, $b: 100%, $l: 0);
        }
    }

    &--bottom {
        @include m.position(absolute, $t: 100%, $r: 50%);
        transform: translate(50%, 0);
        &-left {
            @include m.position(absolute, $t: 100%, $r: 0);
        }
        &-right {
            @include m.position(absolute, $t: 100%, $l: 0);
        }
    }

    &--left {
        @include m.position(absolute, $r: 100%);
    }

    &--right {
        @include m.position(absolute, $l: 100%);
    }
}