@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.list {
    @include m.flex($ai: stretch);

    // Item
    &__item {
        @include m.flex($ai: center);

        padding: f.em(24);

        // Separator
        &:not(:last-child) {
            border-right: solid f.em(1) $color-gray-200;
        }

        // Responsive
        @include m.media(laptop) {
            padding: f.em(12);

            &:not(:last-child) {
                border: none;
            }
        }
    }

    // If is vertical
    &--vertical {
        @include m.flex($fd: column, $gap: f.em(16));

        .list {
            // Item
            &__item {
                padding: 00;
            }

            &__item {
                @include m.flex($ai: center, $gap: f.em(8));

                border: none;

                color: $color-black;

                font-variation-settings: "FILL" 1;

                cursor: pointer;
                transition: $transition;

                .item {
                    &__text {
                        font-size: f.em(16);
                    }
                }

                &:hover {
                    color: $color-orange-100;
                    font-variation-settings: "FILL" 0;
                }
            }
        }
    }

    // Symbol
    .symbol {
        font-family: $font-symbols;
    }
}
