@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.tabs {
    @include m.position(sticky, $t: 0);
    @include m.flex($gap: f.em(16));

    width: 100%;
    padding: f.em(24) 0 f.em(16) f.em(24);

    background-color: $color-gray-200;

    z-index: 2;

    > *:last-child {
        margin-left: auto;
    }

    // Symbol
    .symbol {
        font-family: $font-symbols;
    }

    @include m.media(laptop) {
        @include m.position(sticky, $t: f.em(55));

        padding: f.em(24) f.em(16) f.em(16);
    }
}
