@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;
@use "keyframes" as *;

.post-author {
    @include m.grid($gc: f.em(50) minmax(0, 1fr), $gap: 0 f.em(20));

    padding: f.em(20) f.em(28);
    border-bottom: solid f.em(1) $color-gray-200;

    // Author image
    &__image {
        @include m.grid-child($grs: 1, $gre: 3);

        width: f.em(50);
        min-width: f.em(50);
        height: f.em(50);
        min-height: f.em(50);
        border-radius: f.em(50);
    }

    // List
    &__list {
        @include m.flex($ai: center, $gap: f.em(20));

        &__item {
            color: $color-gray-400;
            font-weight: 700;

            // Separator
            &:not(:last-child) {
                &::after {
                    @include m.position(relative, $l: f.em(10), $b: f.em(1));

                    content: "|";
                }
            }
        }
    }

    // Post title
    &__title {
        font-size: f.em(22);
        font-weight: 700;
        line-height: 1.2;
    }

    // Responsive
    @include m.media(laptop) {
        @include m.grid($gap: f.em(8) f.em(12));

        &__image {
            @include m.grid-child($grs: 2, $gre: 3);
        }
        &__list {
            @include m.grid-child($grs: 1, $gre: 2, $gcs: 1, $gce: 3);
        }
        &__title {
            @include m.grid-child($grs: 2, $gre: 3);
        }
    }
}
