@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.header {
    @include m.position(sticky, $t: 0);

    padding: 0 f.em(26);
    box-shadow: 0 f.em(-8) 0 $color-gray-600;

    background-color: $color-gray-600;

    z-index: 4;

    &__container {
        @include m.flex($ai: center, $jc: space-between);

        height: f.em(55);
    }

    &__logo {
        width: f.em(137);
    }
}
