@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.header {
    padding: 0 f.em(26);

    background-color: $color-white;

    &__container {
        @include m.flex($ai: center, $jc: space-between);

        height: f.em(65);
    }
}