@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;
@use "keyframes" as *;

.post-header {
    @include m.flex($ai: center, $jc: space-between);

    padding: f.em(12) f.em(28);
    border-radius: f.em(4) f.em(4) 0 0;

    background-color: $color-gray-100;

    // Feed
    &__feed {
        @include m.flex($ai: center, $gap: f.em(5));

        // Containers
        &__container {
            @include m.flex($ai: center, $gap: f.em(5));

            color: $color-blue-200;

            // 2nd and next childs
            &:nth-child(n + 2) {
                color: $color-blue-100;

                font-variation-settings: "FILL" 1;
            }
        }

        // Text
        &__text {
            @include m.line-clamp($l: 1);

            font-size: f.em(17);
            font-weight: 700;
        }

        // Responsive
        @include m.media(laptop) {
            @include m.flex($fd: column, $ai: flex-start, $gap: 0);

            &__container {
                // First container
                &:first-child {
                    .post-header__feed {
                        &__text {
                            font-size: f.em(13);
                        }
                        &__symbol {
                            @include m.position(relative, $b: f.em(1));

                            font-size: f.em(15);
                        }
                    }
                }

                // Second container
                &:last-child {
                    .post-header__feed {
                        &__text {
                            font-size: f.em(16);
                        }
                        &__symbol {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // Time
    &__time {
        @include m.flex($ai: center, $gap: f.em(5));

        .time {
            &__item {
                &__symbol {
                    @include m.position(relative, $t: f.em(1));

                    color: $color-gray-500;
                }

                &__text {
                    color: $color-black;

                    font-size: f.em(13);
                }
            }
        }
    }

    // Symbols
    .symbols {
        font-family: $font-symbols;
        font-size: f.em(21);
    }
}
