@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.tab {
    height: f.em(32);
    border: none;

    background-color: transparent;
    color: $color-gray-500;

    font-size: f.em(18);
    font-weight: 700;

    transition: $transition;

    &.active {
        color: $color-orange-100;
    }

    &:not(.active) {
        cursor: pointer;

        &:hover {
            color: $color-black;
        }
    }
}
