@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.fake-item {
    @include m.flex($ai: center, $gap: f.em(8));
    padding: f.em(8) 0;

    &__circle {
        display: block;
        min-width: f.em(18);
        min-height: f.em(18);
        border-radius: f.em(18);

        background-color: $color-white;
    }

    &__line {
        display: block;
        min-width: f.em(91);
        max-width: 100%;
        height: f.em(10);

        background-color: $color-white;
    }
}
