@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;
@use "keyframes" as *;

.post {
    border: solid f.em(1) $color-gray-300;
    border-radius: f.em(4);

    background: $color-white;

    &:not(:last-child) {
        margin-bottom: f.em(12);
    }
}
